.Moods {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: center;

  button {
    width: 150px;
    height: 25px;
    border: 1px solid black;
    background: none;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: arial;
    color: black;
  }
}

